<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log In</title>
</head>
<body>
    <%- include('header') %>
    <% if (locals.user) {%>
        <h1>Logged in as: <%= user.username %></h1>
        <a href="/log-out">Log Out</a>
    <% } else { %>
        <h1>Welcome</h1>
        <a href="/log-in">Log In</a>
        <a href="sign-up">Sign Up</a>
    <%}%>
</body>
</html>
