:root {
  --primary: #00CED1;
  --secondary: #2c2d36;
  --tertiary: #22252d;
  --background: #1b1e24;
  --text: #F0F8FF;
  --textSecondary: #4b5358;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--background);
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 80px 30px 80px;
}

div, a, p, form label, h1, h2, h3 {
    color: var(--text);
    text-decoration: none;
}





/* Header */

header {
    display: flex;
    align-items: center;
    position: fixed;
    box-sizing: border-box;
    top: 0;
    width: 100vw;
    height: 60px;
    z-index: 20;
    padding: 50px 30px 60px;
    background-image: linear-gradient(to bottom, var(--background) 70%, rgba(0,0,0,0));
}

header nav {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    gap: 30px;
}

header a {
    display: flex;
    align-items: center;
    transition: all ease 0.2s;
}

header a:hover {
    transform: scale(1.06);
    color: var(--primary);
}

header .profile {
    height: 40px;
    width: 40px;
    font-size: 14px;
}

header .profile:hover {
    cursor: pointer;
}




/* Posts */

.postSection {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: min(80%, 1200px);
}

.post {
    display: flex;
    border-radius: 20px;
    background-color: var(--tertiary);
    box-shadow: 0px 4px 10px rgb(0, 0, 0, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.profileSection, .messageSection {
    display: flex;
    flex-direction: column;
    width: 150px;
}

.profileSection {
    align-items: center;
    gap: 10px;
    background-color: var(--secondary);
    border-radius: 20px 0 0 20px;
    padding: 30px;
    text-align: center;
}

.messageSection {
    position: relative;
    padding: 30px;
    flex: 1;
}

.adminButtons {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    margin: 20px;
    gap: 12px;
}

.post .adminButtons .button {
    background-color: var(--secondary);
}

.post .adminButtons .button:hover {
    color: var(--text);
    background-color: var(--primary);
}

.post button, .post .button {
    text-decoration: none;
    border: none;
    background-color: var(--primary);
    color: var(--text);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    transition: all ease 0.2s;
    box-shadow: 0px 4px 10px rgb(0, 0, 0, 0.3);
}

.post button:hover, .post .button:hover {
    cursor: pointer;
    transform: scale(1.06);
    background-color: var(--text);
    color: var(--primary);
}

.profile {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    color: white;
    user-select: none;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0px 4px 10px rgb(0, 0, 0, 0.3);
}

.post .name, .post .postTitle {
    font-weight: bold;
    font-size: 20px;
}

.post .username {
    color: var(--primary);
    margin-bottom: 6px;
}

.post .status {
    font-weight: bold;
    margin-top: 6px;
}

.postTitle {
    width: calc(100% - 100px);
}

.post .timestamp {
    font-size: 14px;
    color: var(--textSecondary);
    margin: 6px 0 20px;
}

.post .postText, .postTitle {
    overflow-wrap: break-word;
    word-break: break-word;
    white-space: normal;
}

.post form {
    padding: 0;
    width: 40px;
    height: 40px;
    display: absolute;
    border: none;
    box-shadow: none;
}




/* Forms */

form {
    border: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 30px;
    background-color: var(--tertiary);
    width: 300px;
    border-radius: 30px;
    box-shadow: 0px 4px 10px rgb(0, 0, 0, 0.3);
}

form button, form .button, .button {
    font-size: 16px;
    border: none;
    color: var(--text);
    background-color: var(--primary);
    padding: 16px 40px 16px;
    width: fit-content;
    border-radius: 16px;
    transition: all ease 0.2s;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 2px 10px rgb(0, 0, 0, 0.3);
}

form .button {
    background-color: var(--secondary);
}

form button:hover, form .button:hover {
    cursor: pointer;
    transform: scale(1.06);
    color: var(--primary);
    background-color: var(--text);
}

.buttonContainer {
    display: flex;
}

form label {
    font-weight: bold;
    font-size: 16px;
}

input, textarea {
    font-size: 16px;
    border-radius: 20px;
    padding: 10px 10px 10px 16px;
    color: var(--text);
    background-color: var(--secondary);
    border: none;
    box-shadow: 0px 2px 10px rgb(0, 0, 0, 0.2);
}

textarea {
    resize: none;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    height: 10lh;
    box-sizing: border-box;
}

input:focus, textarea:focus {
  outline: none;
  box-shadow: 0px 0px 2px var(--primary);
}

::placeholder {
    color: var(--textSecondary);
}

.passwordContainer {
    position: relative;
}

.passwordContainer input {
    width: 100%;
    box-sizing: border-box;
}

button.togglePassword {
    position: absolute;
    background-color: transparent;
    color: var(--textSecondary);
    padding: 0;
    height: 30px;
    width: 30px;
    box-shadow: none;
    z-index: 2;
    right: 10px;
    top: 5px;
}

button.togglePassword span {
    pointer-events: none;
}

button.togglePassword:hover {
    transform: none;
    background-color: transparent;
    color: var(--textSecondary);
}

.error {
    height: 20px;
    color: rgb(255, 101, 101);
    font-size: 14px;
    margin: 2px 0 6px;
}

.authLink {
    color: var(--primary);
    margin-left: 6px;
    display: inline-block;
    transition: all ease 0.2s;
}

.authLink:hover {
    transform: scale(1.06);
}

.nameInput {
    display: flex;
    width: 100%;
    gap: 20px;
}

.nameInput div input {
    flex: 1;
    width: 100%;
    box-sizing: border-box;
    margin: 8px 0 8px;
}




/* Membership */

.membership {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}





/* Dropdown */

.dropdown {
    position: relative;
}

.dropdown:hover .dropdown-content, .dropdown:active .dropdown-content {
    opacity: 1;
    visibility: visible;
}

.dropdown-content {
    position: absolute;
    background-color: #f9f9f9;
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    transition: all ease 0.2s;
    right: 0;
    top: 105%;
    opacity: 0;
    visibility: hidden;
    border-radius: 20px;
    background-color: var(--tertiary);
    overflow: hidden;
}

.dropdown-content a {
    color: var(--text);
    padding: 16px 20px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: var(--secondary);
    transform: none;
}

.dropdown:hover .dropdown-content {
    display: block;
}





/* Profile */

.container {
    border-radius: 20px;
    background-color: var(--tertiary);
    box-shadow: 0px 4px 10px rgb(0, 0, 0, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 4px 30px 30px;
    width: 200px;
    margin-top: 20px;
}

.profileInformation h3 {
    font-size: 16px;
    margin: 24px 0 6px;
}

.profileInformation .button {
    margin-top: 30px;
}





/* Home */

.home .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home p {
    font-size: 20px;
    width: min(490px, 80vw);
    text-align: center;
    line-height: 150%;
    margin: 0 0 40px;
}

.home .buttonContainer {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.home .buttonContainer .button {
    margin: 0;
    text-align: center;
}

.lounge {
    font-size: 250px;
    user-select: none;
    margin: -20px 0 -60px;
    animation-name: float;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

button.secondary, .button.secondary {
    background-color: var(--secondary);
}

button:hover, .button:hover, .button.secondary:hover {
    cursor: pointer;
    transform: scale(1.06);
    color: var(--primary);
    background-color: var(--text);
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.home .container {
    width: 500px;
    padding: 40px 30px 40px;
}





/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--tertiary);
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgb(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--secondary);
}





/* Responsiveness */

@media (max-width: 700px) {
    .status {
        display: none;
    }

    h1 {
        font-size: 16px;
    }

    .postSection {
        width: 100%;
    }

    .post {
        flex-direction: column;
    }

    .profileSection {
        border-radius: 20px 20px 0 0;
        width: 100%;
        box-sizing: border-box;
        flex-direction: row;
        align-items: center;
        gap: 20px;
        padding: 20px 30px 20px;
    }

    .messageSection {
        width: 100%;
        box-sizing: border-box;
        padding-bottom: 50px;
    }

    .postTitle {
        width: 100%;
    }

    .profile {
        width: 50px;
        height: 50px;
        font-size: 30px;
    }

    .post .username {
        margin-bottom: 0;
        flex: 1;
        text-align: left;
    }

    .adminButtons {
        bottom: 0;
        top: auto;
    }
}

@media (max-width: 620px) {
    .home .container {
        width: 300px;
    }

    .home .container p {
        width: 270px;
    }
}

@media (max-width: 500px) {
    .name {
        display: none;
    }

    nav a {
        font-size: 14px;
    }

    .post .username {
        font-size: 20px;
        color: var(--text);
        font-weight: bold;
    }

    h1 {
        display: none;
    }

    header nav {
        gap: 20px;
    }

    .home .buttonContainer {
        flex-direction: column;
        align-items: center;
    }

}
